@import url(//db.onlinewebfonts.com/c/ea250342ec4016561ba9e791c2f39c11?family=Posterama);
@import url(//db.onlinewebfonts.com/c/bedb96f9dd7dc1113f0ddb36925913ab?family=PosteramaBold);
@import url(//db.onlinewebfonts.com/c/92cfbcf0aab51ba298c0c3d1452d8c7f?family=PosteramaText);
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: posterama, sans-serif;
}

body {
  background-color: #dae3f2;
}

a:hover, button:hover {
  cursor: pointer;
}

nav {
  background-color: white;
  width: 100%;
  height: 5rem;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 10px 40px rgba(26, 26, 26, 0.4);
          box-shadow: 0 10px 40px rgba(26, 26, 26, 0.4);
}

nav .logo {
  width: 22px;
  height: 22px;
  margin: 30px 10px 29px 30px;
}

nav h1 {
  font-size: 16px;
  margin-top: 1.9rem;
  color: black;
}

nav h1 a:visited {
  color: black;
}

nav button {
  background-color: #E31C79;
  height: 60px;
  font-size: 16px;
  border: none;
  width: 160px;
  color: white;
  position: absolute;
  margin-top: 10px;
  right: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav button:hover {
  cursor: pointer;
}

nav button img {
  width: 14px;
  margin-left: 14px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 54rem;
}

.main-container h2 {
  display: inline-block;
  font-size: 25px;
  font-family: posteramaBold, sans-serif;
  margin-top: 3.9rem;
  color: black;
}

.main-container .nav-container {
  width: 39rem;
  height: 7rem;
  border-radius: 100px;
  background-color: #BBC7D6;
  position: absolute;
  top: 25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .nav-container .hero-button {
  background-color: #003DA7;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 6px;
  border: none;
}

.main-container .nav-container .prev {
  float: left;
}

.main-container .nav-container .next {
  float: right;
}

.main-container .nav-container img {
  width: 20px;
  height: 20px;
  color: white;
}

.main-container .hero-container {
  background-color: white;
  margin-top: 3.9rem;
  width: 25rem;
  height: 27rem;
  -webkit-box-shadow: 0px 10px 40px rgba(26, 26, 26, 0.4);
          box-shadow: 0px 10px 40px rgba(26, 26, 26, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.main-container .hero-container img {
  width: 350px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 30px;
}

.main-container .hero-container #s_i {
  height: 0;
  margin-top: 0;
}

.main-container .hero-container p {
  font-size: 20px;
  margin-top: 30px;
  color: black;
}

.main-container .hidden-card {
  height: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 40px rgba(26, 26, 26, 0.4);
          box-shadow: 0px 10px 40px rgba(26, 26, 26, 0.4);
  z-index: -2;
}

.main-container .card1 {
  width: 390px;
}

.main-container .card2 {
  width: 370px;
}

.main-container .random {
  color: #003DA7;
  font-size: 16px;
  font-family: PosteramaText, sans-serif;
  margin-top: 3.8rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #BBC7D6;
          text-decoration-color: #BBC7D6;
}

.main-container .thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
  margin-top: 3.8rem;
}

.main-container .thumbnail a {
  margin-right: 10px;
}

.main-container .thumbnail img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.main-container .thumbnail img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.main-container .thumbnail .inFocus {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.turnir-container {
  display: none;
  text-align: center;
  height: 100%;
  padding-top: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 200px 300px 500px 300px 200px;
      grid-template-columns: 200px 300px 500px 300px 200px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.turnir-container p {
  font-weight: 900;
  font-size: 20px;
  color: black;
}

.turnir-container img {
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.turnir-container .box-4-container-left img {
  width: 140px;
  height: 140px;
}

.turnir-container .box-4-container-left .box-4-up {
  border: 1.7px solid #bbc7d6;
  border-left: none;
  height: 200px;
}

.turnir-container .box-4-container-left .box-4-up .hero-icon-up {
  width: 170px;
  margin-left: -40px;
  margin-top: -70px;
  background-color: #dae3f2;
}

.turnir-container .box-4-container-left .box-4-up p {
  margin-left: 150px;
  margin-top: 12px;
}

.turnir-container .box-4-container-left .box-4-up .hero-icon-down {
  width: 170px;
  margin-left: -40px;
  margin-top: 20px;
  background-color: #dae3f2;
}

.turnir-container .box-4-container-left .box-4-down {
  border: 1.7px solid #bbc7d6;
  border-left: none;
  height: 200px;
}

.turnir-container .box-4-container-left .box-4-down .hero-icon-up {
  width: 170px;
  margin-left: -40px;
  margin-top: -70px;
  background-color: #dae3f2;
}

.turnir-container .box-4-container-left .box-4-down p {
  margin-left: 150px;
  margin-top: 12px;
}

.turnir-container .box-4-container-left .box-4-down .hero-icon-down {
  width: 170px;
  margin-left: -40px;
  margin-top: 20px;
  background-color: #dae3f2;
}

.turnir-container .box-2-container-left .box-2 {
  border: 1.7px solid #bbc7d6;
  border-left: none;
  height: 400px;
}

.turnir-container .box-2-container-left .box-2 .hero-icon-up {
  width: 130px;
  margin-top: -50px;
  margin-left: 85px;
  background-color: #dae3f2;
}

.turnir-container .box-2-container-left .box-2 p {
  margin-left: 250px;
  margin-top: 130px;
}

.turnir-container .box-2-container-left .box-2 .hero-icon-down {
  width: 130px;
  margin-top: 145px;
  margin-left: 85px;
  background-color: #dae3f2;
}

.turnir-container .box-4-container-right img {
  width: 140px;
  height: 140px;
}

.turnir-container .box-4-container-right .box-4-up {
  border: 1.7px solid #bbc7d6;
  border-right: none;
  height: 200px;
}

.turnir-container .box-4-container-right .box-4-up .hero-icon-up {
  width: 170px;
  margin-top: -70px;
  margin-left: 70px;
  background-color: #dae3f2;
}

.turnir-container .box-4-container-right .box-4-up p {
  margin-right: 150px;
  margin-top: 12px;
}

.turnir-container .box-4-container-right .box-4-up .hero-icon-down {
  width: 170px;
  margin-top: 20px;
  margin-left: 70px;
  background-color: #dae3f2;
}

.turnir-container .box-4-container-right .box-4-down {
  border: 1.7px solid #bbc7d6;
  border-right: none;
  height: 200px;
}

.turnir-container .box-4-container-right .box-4-down .hero-icon-up {
  width: 170px;
  margin-top: -70px;
  margin-left: 70px;
  background-color: #dae3f2;
}

.turnir-container .box-4-container-right .box-4-down p {
  margin-right: 150px;
  margin-top: 12px;
}

.turnir-container .box-4-container-right .box-4-down .hero-icon-down {
  width: 170px;
  margin-top: 20px;
  margin-left: 70px;
  background-color: #dae3f2;
}

.turnir-container .box-2-container-right .box-2 {
  border: 1.7px solid #bbc7d6;
  border-right: none;
  height: 400px;
}

.turnir-container .box-2-container-right .box-2 .hero-icon-up {
  width: 130px;
  margin-top: -50px;
  margin-left: 85px;
  background-color: #dae3f2;
}

.turnir-container .box-2-container-right .box-2 p {
  margin-right: 250px;
  margin-top: 130px;
}

.turnir-container .box-2-container-right .box-2 .hero-icon-down {
  width: 130px;
  margin-top: 145px;
  margin-left: 85px;
  background-color: #dae3f2;
}

.turnir-container .box-1 .box-1-up {
  height: 200px;
}

.turnir-container .box-1 .box-1-up .winner-p {
  margin-top: -80px;
  width: 500px;
  text-align: center;
  font-size: 23px;
  position: absolute;
}

.turnir-container .box-1 .box-1-up .hero-icon-up {
  height: 100px;
}

.turnir-container .box-1 .box-1-up .hero-icon-up .pobjednik {
  position: absolute;
  width: 140px;
  height: 140px;
  margin-left: -70px;
  background-color: #dae3f2;
  margin-top: -40px;
}

.turnir-container .box-1 .box-1-up .box-1-up-down {
  padding-top: 20px;
}

.turnir-container .box-1 .box-1-up .box-1-up-down .box-1-up-left {
  height: 80px;
  width: 249.25px;
  border-right: 1.7px solid #bbc7d6;
}

.turnir-container .box-1 .box-1-up .box-1-up-down .box-1-up-right {
  height: 80px;
  width: 249.25px;
}

.turnir-container .box-1 .box-1-down {
  height: 100px;
}

.turnir-container .box-1 .box-1-left {
  display: inline-block;
  border-bottom: 1.7px solid #bbc7d6;
  float: left;
  height: 100px;
  width: 148.3px;
}

.turnir-container .box-1 .box-1-left .hero-icon-left {
  margin-top: 50px;
  margin-left: 85px;
  width: 130px;
  background-color: #dae3f2;
}

.turnir-container .box-1 .box-1-middle {
  width: 200px;
  height: 35px;
  display: inline-block;
  border: 1.7px solid #bbc7d6;
  border-bottom: none;
}

.turnir-container .box-1 .box-1-middle p {
  margin-top: 5px;
}

.turnir-container .box-1 .box-1-right {
  display: inline-block;
  border-bottom: 1.7px solid #bbc7d6;
  float: right;
  height: 100px;
  width: 148.3px;
}

.turnir-container .box-1 .box-1-right .hero-icon-right {
  margin-top: 50px;
  margin-left: -70px;
  width: 130px;
  background-color: #dae3f2;
}

.turnir-container .filler-4 {
  width: 200px;
  height: 200px;
}

.turnir-container .filler-2 {
  width: 300px;
  height: 100px;
}

.turnir-container .filler-1 {
  width: 500px;
  height: 300px;
}
/*# sourceMappingURL=style.css.map */